.content {
  background-color: #FFF;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  color: #000;
}

.header_menu {
  margin-bottom: 5px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  gap: 33px;
}

.header__links-list-item {
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.header__logo-image{
  width: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  margin-right: 36px;
  margin-bottom: 2.6px;
}

address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35em;
}