.content {
  background-color: #FFF;
}

/*header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
  color: #000;
}

.header_menu {
  margin-bottom: 5px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  gap: 33px;
}

.header__links-list-item {
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.header__logo-image{
  width: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  margin-right: 36px;
  margin-bottom: 2.6px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35em;
}

/*main cover*/

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}


.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 107px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 106px;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
} 

.cover__description-text {
  word-spacing: 18.5px;
}

.bet-button {
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
  padding: 11px 31px 11px 32px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}
